<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://images.unsplash.com/photo-1442115597578-2d0fb2413734?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375">
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>